body {
    background: rgba(0, 0, 255, 0.481);
    margin:0
}
   
.form {
    width:340px;
    height:440px;
    background:#fff3f3;
    border-radius:8px;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;  
    margin-left: 10%;
    margin-top: 20px;

}

.judul-form {
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c
}

input {
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
    background-color: #bebed2;
    border-radius: 5px;
}

input:focus {
    border-bottom:2px solid #78788c
}
p:before {
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}

button {
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s;
    border-radius: 10px;
}

button:hover {
    background:#78788c;color:#fff
}

span {
    margin:0 5px 0 15px
} 

footer {
    color: #333;
    background-color: #e6f0ff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    text-decoration: none;
    margin-top: 5%;
  }

.judul {
  color: white;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  text-align: center;
  margin: 50px 0px;
  border-bottom: 2px solid white;
  width: 200px;
  margin-left: 43%;
}

  footer h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    padding: 25px 0px 0px 10px;
  }

h4 {
    margin-bottom: 0.9375rem;
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  
  ul {
    list-style: none;
    margin:20px 20px 20px 20px;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 0.625rem;
  }
  
  ul li a {
    color: #333;
    font-size: 1rem;
    transition: 0.3s all ease;
    text-decoration: none;
  }
  
  ul li i {
    color: #6faaff;
  }
  
  ul li a:hover {
    color: #6faaff;
    margin-left: 0.2rem;
  }
  
  ul.social-icons {
    display: flex;
    column-gap: 0.625rem;
  }
  
  .social-icons i {
    color: #6faaff;
  }
  
  ul.social-icons li {
    margin-bottom: 0rem;
  }
  
  ul.social-icons li a {
    display: grid;
    place-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    border: 1.5px solid #6FAAFF;
  }
  
  ul.social-icons li:hover a {
    background-color: #6faaff;
    animation: shake 0.3s ease;
    margin-left: 0;
  }
  
  ul.social-icons li:hover i {
    color: #fff;
  } 
.contact {
  display: flex;
}

.alamat {
  display: flex;
  flex-direction: column;
  color: white;
}

.alamat i {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.alamat span {
  font-size: 1rem;
  margin-left: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
  margin-left: 15%;
}

.judul-alamat {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-size: 30px;
}