@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Gochi+Hand&family=Montserrat&family=Noto+Sans+NKo+Unjoined&family=Noto+Serif&family=Poppins&display=swap");

.dpib,
.titl,
.tpm,
.tkr,
.tkj,
.rpl,
.tsm,
.tki,
.tei {
  box-sizing: border-box;
  border: 1px black solid;
  display: block;
  margin: 10px;
  max-width: 350px;
}
.jurusan {
  text-align: center;
  font-size: 12px;
}
.jurusan1 {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.jurusan2 {
  display: flex;
  justify-content: center;
}
.jurusan3 {
  display: flex;
  justify-content: center;
}
header span {
  color: orange;
  font-family: "Noto Serif", serif;
}
header h1 {
  font-family: "Poppins", sans-serif;
}
header {
  text-align: center;
}
